body{
  padding: 0;
  margin: 0;
  position: relative;
  transition:0.6s ease;
}
body a{
    text-decoration: none;
}
.mb-0{
    margin-bottom: 0;
}

ul{
  padding-left: 0;
  margin-bottom: 0;
}
ul li{
  list-style: none;
  margin-left: 10px;
  transition: 0.5s ease;
  padding: 10px;
  margin-bottom: 0;
}
/* loader animation */




/*  loader */
 .btnStyle1{
    margin-left: auto;
    background-color: transparent;
    border:none;
}




ul li{
  list-style: none;
  padding-left: 0;
}

.inputForm{
  margin-bottom: 10px;
}
.inputForm:focus{
  outline:none;
  border-radius:0;
  box-shadow: none;
}
.mr-1{
  margin-right:10px;
}
.btn:focus{
  outline:none;
  box-shadow:none;
}
/* to do list end */
/* pagination */
.liul li{
  display:inline-block;
}
ul{
  padding-left: 0;
}
.liUi{
  padding: 5px;
  border:1px solid #eee;
  margin-right: 5px;
}
.liUi:last-child{
  margin-right: 0;
}
/* pagination end */
/* loremipsum */
.formpara .input:focus{ outline: none;
  box-shadow: none;
margin-bottom: 10px;}
.mb5{margin-bottom: 5px;}
/* loremipsum */
/* navbar */


a{
  text-decoration: none;
}
.bg-nav{
  padding:15px 0;
  background-color:#a52a2a;
  vertical-align: middle;
}
.navUl li{
  display: inline-block;
}

.navItem{
  display:flex;
  align-items: center;
  vertical-align: middle;
}
.bg-nav .navUl{
  margin-bottom: 0;
} 

navList a:hover{
  background-color: #c0c0c0;
  transition: 0.5s ease;
}

.btnStyle{
  display: none;
}

.mr-1{
  margin-right: 10px;
}
.fs-16{
  font-size: 16px;
}
.mb-20{
  margin-bottom: 20px;
}

/* navbar */
/* main component */
.linksmain{
  padding: 20px;
  border:1px solid #eee;
  background-color: #E5E5E5;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 8px 8px #eee;
  margin-top:20px;
}
/* main component end */
/* cart  */
.head{
  padding: 20px;
  align-items: center;
  vertical-align: middle;
  background-color: #0d6efd;
}
.cartnavLogo h3{
  margin-bottom: 0;
}
.relative{
  position: relative;
}
.numOfBas{
  position: absolute;
  top:0;
  right: 0;
  z-index: 1;
  color:#fff;
  text-align: center;
  justify-content: center;
}

.white{
  color: #fff;
}

.white-bg{
  background-color: #fff;
}

.btnFnc .vm{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}


/* quiz */
.btn-main{
  padding: 0.5em 1.5em;
  border-radius:0;
  background-color: #2f6690;
  text-align: center;
  z-index: 1;
  color: #fff;
  text-decoration: none;
}
.right{
  float: right;
}

label.radio {
  cursor: pointer
}
.ans label{
    width: -webkit-fill-available;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 4px 4px;
  border: 1px solid #81c5d9;;
  display: inline-block;
  color: #000;
  width: 100%;
  text-align:left;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top:6px;
}

label.radio input:checked+span {
  border-color: #81c5d9;
  background-color: #cfebff;
  color: #000;
}
label.radio input:focus,label.radio input:active{
  background-color: #cfebff;
  padding: 5px 7px;
  border: 2px solid #81c5d9;
  border-radius: 5px;
  font-weight: bold;
}
label.radio input:hover+span{
border-color: #81c5d9;
background-color: #cfebff;
color: #000;
}
label.radio1 input+span{
  border-color: #81c5d9;
  background-color: #cfebff;
  color: #000;
}
.ans .option{
font-size: 22px;
margin-right: 10px;
font-weight: bold;
color: #000;
text-align: center;
width:40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
position: relative;
}
.question{
padding: 70px;
background-color: #e8d3d3;
}
.next:focus{
box-shadow: none;
}
.quizResultStyle{
  padding:20px;
  text-align: center;
  vertical-align: middle;
}
.quizResult{
  background-color: #e5e5e5;
  border:5px;
  border:1px solid #e5e5e5;
}
/* quiz */

.weatherul .weatherli p{
  margin-bottom: 0;
}
.mt-40{
  margin-top: 40px;
}

.fs-14{
  font-size: 14px;
}
/*  */
.authBoxLiSpan{
  padding: 10px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
}
.authBoxLiSpan:hover{
  color: #0d6efd;
  transition: 0.4s ease all;
}
.authBox{
  padding: 20px;
  border: 1px solid #EFE9FF;
  background-color: #EFE9FF;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.authBoxUl{
  padding-top: 50px;
}
.box{
  padding: 20px;
  width: 400px;
  height: auto;
  border: 1px solid #eee;
}
.box1{
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #eee;
}
.mb-10{
  margin-bottom: 10px;
}